/.idea
/dist
/node_modules
/public/media/
/public/textures/
/.vite
/coverage
/.pnpm-store
/.DS_Store
/*.log
pnpm-debug.log*
vite.config.timestamp-*.

# Static Data Forge Assets
/public/data/staticData.json
/public/data/staticAnalysis.json
/public/data/manifest.json
