engine-strict=true
strict-peer-dependencies=true
auto-install-peers=false
shamefully-hoist=false

# Speed & reproducibility
resolution-mode=highest
prefer-frozen-lockfile=false
prefer-workspace-packages=true

# Logs
fund=false
audit-level=high
update-notifier=false
