:root {
  color-scheme: dark;
  font-family: "DM Sans", sans-serif;
}

html,
body,
#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
}

.poh-tooltip {
  background-color: #212121;
}
